<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
 
  <title>Forgot</title>
  <link rel="icon" href="../images/icon.jpg">
  <link rel="stylesheet" href="../css/forgot.css">
 </head>
 <body>
  


<div class="container">
  <form action="../Forgot" method="post">
<p>*Please Enter valid Username and Email,you can recover password by any means, and keep your Unique_Id and your Father's/Mother's Name ready with you which you have been provided at time of Registration.</p>
  
  <h2>Recover Password by Username</h2>

    <div class="row">
      <div class="col-25">
        <label for="fname"><b>UserName</b></label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="uname" placeholder="Your Username.." required>
      </div>
    </div>
   
    <div class="row">
      <input type="submit" value="Check by Username" name="btn">
    </div>
</form>
<form action="../Forgot" method="post">
<h2>Or</h2>
<h2>Recover Password by Email</h2>
	<div class="row">
      <div class="col-25">
        <label for="fname"><b>Email</b></label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="email" placeholder="Enter your registered Email.." required>
      </div>
    </div>
   
    <div class="row">
      <input type="submit" value="Check by Email" name="btn">
    </div>



  </form>
</div>




 </body>
</html>
